select#naipe-select {
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem 1rem;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}
  
select#naipe-select:hover,
select#naipe-select:focus {
    background-color: #e6e6e6;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

select#naipe-select {
    text-align: center;
}
  
select#naipe-select option:checked {
    text-align: center;
}

/* ==================== */
select#minute-select {
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem 1rem;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}
  
select#minute-select:hover,
select#minute-select:focus {
  background-color: #C8F0EE;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  animation: 0.2s ease-in-out 0s normal none 1 running fadeInDown, change-color 0.2s 0.2s forwards;
}

@keyframes change-color {
  from { background-color: #C8F0EE; }
  to { background-color: #f2f2f2; }
  50% { background-color: #C8F0EE; }
}


select#minute-select {
    text-align: center;
}
  
select#minute-select option:checked {
    text-align: center;
}


/* make button in same style */
button#moteto-global-button {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0.5rem 1rem;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

button#moteto-global-button :hover,
button#moteto-global-button :focus {
    background-color: #e6e6e6;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

